.trade-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .trade-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }
  
  .trade-info h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
  
  .trade-info p {
    margin: 0;
    font-size: 1rem;
    text-align: center;
  }
  
  .player-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .player-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .trade-from {
    background-color: #FEE2E2;
    padding: 10px;
    border-radius: 5px;
  }
  
  .trade-to {
    background-color: #D1FAE5;
    padding: 10px;
    border-radius: 5px;
  }
  
  .trade-from h3, .trade-to h3 {
    margin-bottom: 5px;
  }
  
  .trade-from p, .trade-to p {
    margin: 0;
  }
  
  .trade-from .player-image img, .trade-to .player-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .trade-from .player-info, .trade-to .player-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  
  .trade-from .player-position, .trade-to .player-position {
    font-size: 0.8rem;
  }
  
  .trade-from .player-team, .trade-to .player-team {
    font-size: 0.8rem;
  }
  
  .trade-from .player-name, .trade-to .player-name {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
  